<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="co.edu.uniandes.iArchimate.ui.diagram"
            name="Diagram">
      </category>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponents"
            name="Number of imperfect components">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByLevel"
            name="Number of imperfect components by level">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByElement"
            name="Number of imperfect components by element">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByAttribute"
            name="Number of imperfect components by attribute">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByRelation"
            name="Number of imperfect components by relation">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectAttributeType"
            name="Number of imperfect components by imperfect attribute type">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectRelationType"
            name="Number of imperfect components by imperfect relation type">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfRelationsWithDecisionTrace"
            name="Number of Relations with Decision Trace">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfAttributesWithDecisionTrace"
            name="Number of Attributes with Decision Trace">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.indicators.businessProcessRelevance"
            name="Business Process Relevance">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.selectAnalysisMethod"
            name="Select Analysis Method">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.performAnalysisMethod"
            name="Perform Analysis Method">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.selectedAnalysisMethod"
            name="Selected Analysis Method">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.unselectAnalysisMethod"
            name="Unselect Analysis Method">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.selectAnalysisChain"
            name="Select Analysis Chain">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.performAnalysisChain"
            name="Perform Analysis Chain">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.exportDecisionTraces"
            name="Export Decision Traces">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.importDecisionTraces"
            name="Import Decision Traces">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.overallModelImperfection"
            name="Overall Model Imperfection">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectAttributes"
            name="Imperfect Attributes">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectRelations"
            name="Imperfect Relations">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectElements"
            name="Imperfect Elements">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByType"
            name="Imperfect Elements by Element Type">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByType"
            name="Imperfect Attributes by Element Type">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByTypeAndName"
            name="Imperfect Attributes by Element Type and Attribute Name">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByType"
            name="Imperfect Relations by Element Type">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByTypeAndName"
            name="Imperfect Relations by Element Type and Relation Type">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByLayer"
            name="Imperfect Elements by Layer">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.businessProcessIncompletenes"
            name="Business Process Incompletness">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.relationUncertainty"
            name="Relation Uncertainty">
      </command>
      <command
            id="co.edu.uniandes.iArchimate.ui.command.businessProcessFaultSucceptibility"
            name="Business Process Fault Succeptibility">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponents">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsByLevelHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByLevel">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsByElementHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByElement">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsByAttributeHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByAttribute">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsByRelationHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByRelation">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsByImperfectAttributeTypeHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectAttributeType">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfImperfectComponentsByImperfectRelationTypeHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectRelationType">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfRelationsWithDecisionTraceHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfRelationsWithDecisionTrace">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.NumberOfAttributesWithDecisionTraceHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfAttributesWithDecisionTrace">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.BusinessProcessRelevanceHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.indicators.businessProcessRelevance">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.SelectAnalysisMethodHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.selectAnalysisMethod">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.PerformAnalysisMethodHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.performAnalysisMethod">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.SelectedAnalysisMethodHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.selectedAnalysisMethod">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.UnselectAnalysisMethodHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.unselectAnalysisMethod">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.SelectAnalysisChainHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.selectAnalysisChain">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.PerformAnalysisChainHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.performAnalysisChain">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ExportDecisionTraces"
            commandId="co.edu.uniandes.iArchimate.ui.command.exportDecisionTraces">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImportDecisionTracesHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.importDecisionTraces">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.OverallModelImperfectionHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.overallModelImperfection">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectAttributesHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectAttributes">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectRelationsHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectRelations">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectElementsHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectElements">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectElementsByTypeHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByType">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectAttributesByTypeHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByType">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectAttributesByTypeAndNameHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByTypeAndName">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectRelationsByTypeHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByType">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectRelationsByTypeAndNameHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByTypeAndName">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ImperfectElementsByLayerHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByLayer">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.BusinessProcessIncompletenessHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.businessProcessIncompletenes">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.RelationUncertaintyHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.relationUncertainty">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.ApplicationComponentAvailabilityImperfectionHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.applicationComponentAvailability">
      </handler>
      <handler
            class="co.edu.uniandes.iArchimate.ui.handlers.BusinessProcessFaultSusceptibilityImperfectionHandler"
            commandId="co.edu.uniandes.iArchimate.ui.command.businessProcessFaultSucceptibility">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="co.edu.uniandes.iArchimate.ui.menu.iArchimate"
               label="iArchiMate">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="iArchimate.diagram.part.IArchimateDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
            <menu
                  id="co.edu.uniandes.iArchimate.ui.menu.iArchimate.indicatorsOfImperfection"
                  label="Indicators of Imperfection">
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponents"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponents"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByLevel"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByLevel"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByElement"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByElement"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByAttribute"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByAttribute"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByRelation"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByRelation"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectAttributeType"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectAttributeType"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectRelationType"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfImperfectComponentsByImperfectRelationType"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfRelationsWithDecisionTrace"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfRelationsWithDecisionTrace"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfAttributesWithDecisionTrace"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.numberOfAttributesWithDecisionTrace"
                     style="push">
               </command>
            </menu>
            <menu
                  id="co.edu.uniandes.iArchimate.ui.menu.iArchimate.businessLevelIndicators"
                  label="Business Level Indicators">
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.indicators.businessProcessRelevance"
                     id="co.edu.uniandes.iArchimate.ui.command.indicators.businessProcessRelevance"
                     style="push">
               </command>
            </menu>
            <separator
                  name="co.edu.uniandes.iArchimate.ui.separator1"
                  visible="true">
            </separator>
            <menu
                  id="co.edu.uniandes.iArchimate.ui.menu.iArchimate.imperfectionAnalysis"
                  label="Imperfection Analysis">
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.overallModelImperfection"
                     id="co.edu.uniandes.iArchimate.ui.command.overallModelImperfection"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectAttributes"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectAttributes"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectRelations"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectRelations"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectElements"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectElements"
                     style="push">
               </command>
               <separator
                     name="co.edu.uniandes.iArchimate.ui.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByType"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByType"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByType"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByType"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByTypeAndName"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectAttributesByTypeAndName"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByType"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByType"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByTypeAndName"
                  	 id="co.edu.uniandes.iArchimate.ui.command.imperfectRelationsByTypeAndName"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByLayer"
                     id="co.edu.uniandes.iArchimate.ui.command.imperfectElementsByLayer"
                     style="push">
               </command>
               <separator
                     name="co.edu.uniandes.iArchimate.ui.separator2"
                     visible="true">
               </separator>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.businessProcessIncompletenes"
                     id="co.edu.uniandes.iArchimate.ui.command.businessProcessIncompletenes"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.relationUncertainty"
                     id="co.edu.uniandes.iArchimate.ui.command.relationUncertainty"
                     style="push">
               </command>
            </menu>
            <menu
                  id="co.edu.uniandes.iArchimate.ui.menu.iArchimate.businessAnalysis"
                  label="Business Analysis">
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.selectAnalysisMethod"
                     id="co.edu.uniandes.iArchimate.ui.command.selectAnalysisMethod"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.performAnalysisMethod"
                     id="co.edu.uniandes.iArchimate.ui.command.performAnalysisMethod"
                     style="push">
               </command>
               <separator
                     name="co.edu.uniandes.iArchimate.ui.separator2"
                     visible="true">
               </separator>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.selectAnalysisChain"
                     id="co.edu.uniandes.iArchimate.ui.command.selectAnalysisChain"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.performAnalysisChain"
                     id="co.edu.uniandes.iArchimate.ui.command.performAnalysisChain"
                     style="push">
               </command>
               <separator
                     name="co.edu.uniandes.iArchimate.ui.separator3"
                     visible="true">
               </separator>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.selectedAnalysisMethod"
                     id="co.edu.uniandes.iArchimate.ui.command.selectedAnalysisMethod"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.unselectAnalysisMethod"
                     id="co.edu.uniandes.iArchimate.ui.command.unselectAnalysisMethod"
                     style="push">
               </command>
            </menu>
            <menu
                  id="co.edu.uniandes.iArchimate.ui.menu.iArchimate.businessAnalysisWithImperfectInformation"
                  label="Business Analysis with Imperfect Information">
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.applicationComponentAvailability"
                     id="co.edu.uniandes.iArchimate.ui.command.applicationComponentAvailability"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.businessProcessFaultSucceptibility"
                     id="co.edu.uniandes.iArchimate.ui.command.businessProcessFaultSucceptibility"
                     style="push">
               </command>
            </menu>
            <separator
                  name="co.edu.uniandes.iArchimate.ui.separator2"
                  visible="true">
            </separator>
            <menu
                  id="co.edu.uniandes.iArchimate.ui.menu.iArchimate.decisionTrace"
                  label="Decision Trace">
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.exportDecisionTraces"
                     id="co.edu.uniandes.iArchimate.ui.command.exportDecisionTraces"
                     style="push">
               </command>
               <command
                     commandId="co.edu.uniandes.iArchimate.ui.command.importDecisionTraces"
                     id="co.edu.uniandes.iArchimate.ui.command.importDecisionTraces"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="co.edu.uniandes.iArchimate.ui.wizards.category.iArchimate"
            name="iArchimate">
      </category>
      <wizard
            category="co.edu.uniandes.iArchimate.ui.wizards.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.wizard.EmptyProjectWizard"
            icon="icons/iArchimateLogo_80x80.png"
            id="co.edu.uniandes.iArchimate.ui.wizard.EmptyProject"
            name="iArchimate Empty Project">
      </wizard>
      <wizard
            category="co.edu.uniandes.iArchimate.ui.wizards.category.iArchimate"
            class="iArchimate.diagram.part.IArchimateCreationWizard"
            icon="icons/iArchimateModelLogo_80x80.png"
            id="co.edu.uniandes.iArchimate.ui.wizard.iArchimateDiagram"
            name="iArchimate Diagram">
      </wizard>
      <wizard
            category="co.edu.uniandes.iArchimate.ui.wizards.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.wizard.ImportArchiModelWizard"
            icon="icons/iArchimateImpotModelLogo_80x80.png"
            id="co.edu.uniandes.iArchimate.ui.wizard.importArchiModel"
            name="Import Archi Model">
      </wizard>
      <wizard
            category="co.edu.uniandes.iArchimate.ui.wizards.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.wizard.ExampleProjectWizard"
            icon="icons/iArchimateLogo_80x80.png"
            id="co.edu.uniandes.iArchimate.ui.wizard.ExampleProject"
            name="iArchimate Example Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="co.edu.uniandes.iArchimate.diagram">
         <propertyTab
               category="extra"
               id="co.edu.uniandes.iArchimate.diagram.propertyTab.attributes"
               label="Attributes">
         </propertyTab>
         <propertyTab
               category="extra"
               id="co.edu.uniandes.iArchimate.diagram.propertyTab.imperfectAttributes"
               label="Imperfect Attributes">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="co.edu.uniandes.iArchimate.diagram">
         <propertySection
               class="co.edu.uniandes.iArchimate.ui.propertySection.ElementAttributesPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="co.edu.uniandes.iArchimate.diagram.propertySection.elementAttributes"
               tab="co.edu.uniandes.iArchimate.diagram.propertyTab.attributes">
         </propertySection>
         <propertySection
               class="co.edu.uniandes.iArchimate.ui.propertySection.ElementImperfectAttributesPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="co.edu.uniandes.iArchimate.diagram.propertySection.elementImperfectAttributes"
               tab="co.edu.uniandes.iArchimate.diagram.propertyTab.imperfectAttributes">
         </propertySection>
         <propertySection
               class="co.edu.uniandes.iArchimate.ui.propertySection.RelationAttributesPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="co.edu.uniandes.iArchimate.diagram.propertySection.relationAttributes"
               tab="co.edu.uniandes.iArchimate.diagram.propertyTab.attributes">
         </propertySection>
         <propertySection
               class="co.edu.uniandes.iArchimate.ui.propertySection.RelationImperfectAttributesPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="co.edu.uniandes.iArchimate.diagram.propertySection.relationImperfectAttributes"
               tab="co.edu.uniandes.iArchimate.diagram.propertyTab.imperfectAttributes">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            name="iArchimate">
      </category>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.IndicatorView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.indicator"
            name="iArchiMate Indicators"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.AnalysisResultView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.analysisResult"
            name="iArchiMate Analysis Result"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.Pie3DView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.pie3D"
            name="iArchiMate Pie 3D"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.Bar3DView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.bar3D"
            name="iArchiMate Bar 3D"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.DualAxisView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.dualAxis"
            name="iArchiMate Dual Axis"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.PolarView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.polar"
            name="iArchiMate Polar"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.StackedBar3DView"
            icon="icons/iArchimateIndicatorLogo_16x16.png"
            id="co.edu.uniandes.iArchimate.ui.views.stackedBar3D"
            name="iArchiMate Stacked Bar 3D"
            restorable="true">
      </view>
      <view
            category="co.edu.uniandes.iArchimate.ui.views.category.iArchimate"
            class="co.edu.uniandes.iArchimate.ui.view.StackedBar3DView"
            id="co.edu.uniandes.iArchimate.ui.views.xy"
            name="iArchiMate XY"
            restorable="true">
      </view>
   </extension>

</plugin>
